
* {
    font-family: Zen Maru Gothic, sans-serif;
  
    
}

body {
    font-family: sans-serif;
    margin: 0px 0px;
    padding: 0px 0px;
    background-color:#f5fcffc2;
}
.new-course-notification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffebcd;
    border-radius: 3px;


}

.course-name {
    border-bottom: 1px solid #b27409;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
}

.course-date {
    font-weight: 700;

}

.call-link {
    text-decoration: none;
    color: black;

}

.navbar-container {
/* backgruond-color:white; */
box-shadow: 0px 1px 10px 0px #00000033;
height:60px;


 }
 .header-img{
    filter: drop-shadow(0 0 0.45rem #4285f4);
    width: 415px!important;
 }
 .common-header-btn-css{
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 9px;
    font-size: 18px;
    cursor: pointer;
    height: 45px;
 }
 .flex-header-btn-container{
    display:flex;
    justify-content:center;
    align-item:center;


 }
 .full-course-general-features h3{
    color:blue;

 }
 .course-feature{
    background-color: #fff;
    border: 1px solid #e2e4e8;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
 }
 .feature-img-icon img{
border:1px solid orange;
padding:5px;
background-color:#ffa50008;
border-radius:5px



 }
 .full-course-general-img{
   filter: drop-shadow(0 0 0.45rem #fbbc05);

 }
.course-card-info-container{
    width:300px;
    border:2px solid black;
    padding:10px;
    border-bottom:3px solid blue;
    
    box-shadow: 0 0 5px 0px #808080ad;
    
}
.course-card-icon-calender-container{
    display:flex;
align-item:center;
justify-content:center;


}
.course-card-price{
    border-bottom: 3px double green ;
    
}
.course-teacher-card{
    display:block;
    margin: 0 auto;

    width:250px;
backgruond-color:white;
border-bottom:3px solid black;

}
.course-teacher-imfo-container{
    display:flex;
    justify-content:space-evenly;
    align-item:center;
}
.course-teacher-sociale-container{
    display:flex;
    justify-content:center;
    align-item:center;

    
}
.course-teacher-img {
    height:200px;
    display:block;
    width:200px;


    
}
.rtc-social-media-header{
    font-size:50px;
    font-weight:bold;
    


}
.rtc-social-media-img-container{
    display:block;
    margin:0 auto;
    border: 1px solid transparent;
    height: 150px;
    width: 150px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px gray;
    cursor: pointer;
    
}
.rtc-social-media-img{
height:100px;
position: absolute;
top: 0px;
left: 25px;
    
}
.footer-main-container{
    display:flex;
    justify-content:space-around;
    align-item:center;
    background-color:back;
    color:white;
    height:250px

}
.footer-section-descr{
    font-size:20px;
text-align:justify;    

}
.quick-links{
    list-style:none;
}
.quick-links-container{
    list-style:none;
    display:flex;
    flex-direction:column;
    justify:spce-between;

    

}
.quick-links li{
    height: 25px;
    margin: 10px 0;


}
.quick-links li:hover{
color:orange;
}

.border-2{
    margin:10px 0;

    background: #ff9800;
    background-color: #ff9800;
    border: 0;
    color: #ff9800;
    height: 3px;
    width: 50px;
}



